SECRET_KEY=CHANGE_ME
DEBUG=True

DB_NAME=RetailStore
DB_USER=CHANGE_ME
DB_PASSWORD=CHANGE_ME
DB_HOST=127.0.0.1
DB_PORT=5432
DB_CONN_MAX_AGE=60
DB_CONNECT_TIMEOUT=10

ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False

LANGUAGE_CODE=es-ec
TIME_ZONE=America/Guayaquil
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=pozitoworld@gmail.com
EMAIL_HOST_PASSWORD=CHANGE_ME
DEFAULT_FROM_EMAIL=TechTail <pozitoworld@gmail.com>
EMAIL_TIMEOUT=20

FRONTEND_BASE_URL=http://localhost:5173
GOOGLE_CLIENT_ID=CHANGE_ME
VITE_GOOGLE_CLIENT_ID=CHANGE_ME
